<?xml version="1.0" encoding="UTF-8" ?>
<widget id="br.com.krumpgames.wheeloffortune" version="1.0.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>Wheel of Fortune</name>
	<description>Wheel of Fortune</description>
	<author>krump games</author>

	<icon src="www/icon-256.png" width="256" height="256" density="xxxhdpi" />
	<icon src="www/icon-128.png" width="128" height="128" density="xhdpi" />

	<preference name="android-targetSdkVersion" value="26" />

	<preference name="orientation" value="landscape" />
	<preference name="fullscreen" value="true" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="AllowInlineMediaPlayback" value="true" />

	<config-file parent="UIStatusBarHidden" platform="ios" target="*-Info.plist"><true/></config-file>
	<config-file parent="UIViewControllerBasedStatusBarAppearance" platform="ios" target="*-Info.plist"><false/></config-file>


	<preference name="deployment-target" value="9.0" />
	<preference name="android-minSdkVersion" value="21" />
	<access origin="*" />

	<plugin name="cordova-custom-config" />
	<plugin name="cordova-plugin-file" />
	<plugin name="cordova-plugin-inappbrowser" />
	<plugin name="cordova-plugin-statusbar" />
	<plugin name="cordova-plugin-whitelist" />
	<plugin name="cordova-plugin-wkwebview-engine" />


	<engine name="ios" />
	<engine name="android" />
</widget>